/* *{
color : black;	
}
p{
	color:red;
	
}
.Titulo{
	background-color:lightblue;
}

ul{
	list-style-type:none;
}
article ul{
	list-style-type:scuare;
}
profile img{
	border-radius: 50%;
} */



/* layaout */
.main-container{
	
	width:1200px;
	height:200px;
	 
}
.mitad{
	
	float:right;
	width:980px;
	height:800px;
	margin-bottom:800px;
}


ul{
	list-style-type:none;
	text-align:left;
	 padding: 3px;
}
article ul{
	list-style-type:scuare;
}

/* parte del aside */
aside{
	background-color:#647087;
	width: 25%;
	margin-left: 3%;
}

aside * {
	color:white;
}

aside h2 {
	text-transform: uppercase;
	letter-spacing: 4px;
}
aside section h2:first-child {
	border-bottom: 2px solid white;
}

#profile img{
	border-radius: 50%;
	display:block;
	margin:auto;;
/* 	width:150px;
	height:auto; */
	
	
}

main section > h2{
	text-transform:uppercase;
	letter-spacing: 5px;
}
.hero {
	background-color: #EDC0AF;
	box-shadow: 2px 2px 40px 1px #647087;
	padding: 15% 0; */
	text-align:center;
	margin:auto;
}

.hero h2{
	color: white;
	border-top: 2px solid white;
	text-transform: uppercase;
	letter-spacing: 11px;
}
.hero h1{
	/* text-transform: uppercase; */
	letter-spacing: 8px;
}


.sobremi h2{
	background-color: white;
}

.sobremi p{
	line-height: 1.5em;
	background-color:#F7DDC3;
	padding: 5px ;
}
.experiencia ul{
	margin-left:20px;
	
}

main article h3,main article h4{
	font-weight: bold;
}
main article ul {
	list-style-type: square;
}
.referencia {
	display: flex;
	flex-wrap;
	background-color:#F7DDC3;
	
}
.referencia article {
	width: 50%;
	text-align:center;
}
.Redes img:hover{
  transform: rotate(360deg);
  transition:0.4s;
}
.Redes li {
	 padding:10px;
}
.Redes{
	margin:none;
}

meter{
	display:block;
	width:80%;
	padding:1px;
}
meter::-webkit-meter-optimum-value{
	background: none;
	background-color:red;
}
meter::-moz-meter-optimum-value{
	background: none;
	background-color:red;
}
/* habilidades */

/* dt{
	clear: left;
	width:30%;
	float:left;
	font-weight: bolder;
}
dd{
	clear: right;
	width:50%;
	float:left;	
	margin:0;
	
} */

dl{
	display:flex;
	flex-wrap:wrap;
}
dt,dd{
	flex-basis:40%;
	margin: 0;
	line-height: 1.5em;
	border-top: 1px solid white;
}
dt{
	font-weight: bolder;
}


dt:last-of-type,dd:last-of-type{
	border-bottom: 1px solid white;
}

.clear {
	clear:both;
}