
/* layaout */
/* .main-container{
	
	width:80%;
	height:0px;
	max-width: 1000px;
	box-sizing:border-box;
} */
.mitad{
	width:70%;
/* 	height:800px;
	margin:0px 35px 0px 35px; */
	max-width: 1000px; 
	padding:15px;
	box-sizing:border-box;
	float: right;
	
}


ul{
	list-style-type:none;
	text-align:left;
	 padding: 3px;
}
article ul{
	list-style-type:scuare;
}

/* parte del aside */
aside{
	background-color:#A9A9A9;
	width: 27%;
	padding:15px;
	box-sizing:border-box;
	float:left;
	height:auto;
}

aside * {
	color:white;
}
aside p{
	text-align:justify;
	margin-left:3px;

}

aside h2 {
	text-transform: uppercase;
	letter-spacing: 4px;
}
aside section h2:first-child {
	border-bottom: 2px solid white;
}

#profile img{
	border-radius: 50%;
	display:block;
	margin:auto;
	width:150px;
	height:auto;
	
	
}

main section > h2{
	text-transform:uppercase;
	letter-spacing: 5px;
}
.hero {
	background-color: #ADD8E6;
	box-shadow: 2px 2px 40px 1px #647087;
	padding: 15% 0; */
	text-align:center;
	margin:none;
	height:5%;

}

.hero h2{
	color: white;
	border-top: 2px solid white;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.hero h1{
	/* text-transform: uppercase; */
	letter-spacing: 8px;
	margin: 14px 40px;
}


.educacion h2{
	border-bottom: 2px solid black;
}
.educacion ul {
	background-color:#D3D3D3;
	font-weight: bold;
	
}


.experiencia  article {
	background-color:#D3D3D3;
	margin-left:5px;
}
.experiencia ul{
	margin-left:20px;
	
}
.experiencia h2{
	border-bottom: 2px solid black;
}
.tecnologias ul{
	background-color:#D3D3D3;
	font-weight: bold;
}
.tecnologias h2 {
	border-bottom: 2px solid black;
}

main article h3,main article h4{
	font-weight: bold;
}
main article ul {
	list-style-type: square;
	font-weight: bold;
}

.Redes img:hover{
  transform: rotate(360deg);
  transition:0.4s;
}
.Redes p {
	 text-align:justify;

}
.Redes{
	margin-left:3px;
}

meter{
	display:block;
	width:80%;
	padding:1px;
	box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1)

}
meter::-webkit-meter-optimum-value{
	background: blue;
	background-color:#808080;
}
meter::-moz-progress-bar{	
	background: none;
	background-color:#808080;
}
/* habilidades */

/* dt{
	clear: left;
	width:30%;
	float:left;
	font-weight: bolder;
}
dd{
	clear: right;
	width:50%;
	float:left;	
	margin:0;
	
} */

dl{
	display:flex;
	flex-wrap:wrap;
	margin-left:5px;
	

}
dt{
	flex-basis:35%;
	margin: 0; 
	line-height: 1.5em;
	border-top: 1px solid white;
}
dd{
	text-align:left;
	flex-basis:64%;
	margin: 0; 
	line-height: 1.5em;
	border-top: 1px solid white;
}
dt{
	font-weight: bolder;

}


dt:last-of-type,dd:last-of-type{
	border-bottom: 1px solid white;
}
h1,h2, ul {
	margin-left:5px;
}
.clear {
	clear:both;
}

 @media screen and (max-width: 400px) {
	 .mitad{
		width:100%;
		height:auto;
		
	 }
	 aside {
		 width:100%;
		 height:auto;
	 }
	 .hero{
		width:100%; 
		height:auto;
	 }
	 
	 
 }
 